{% extends 'base.html' %}

{% load static %}

{% block content %}
     <!-- Header-->
     <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">회사 소개</h1>
                <p class="lead fw-normal text-white-50 mb-0">우리 회사에 대한 중요한 정보...</p>
            </div>
        </div>
    </header>
    <br><br>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <h3>신뢰할 수 있는 이름, 윌프레드 바이크</h3>
                    <p align="justify">
                        자전거에 있어 신뢰성은 매우 중요합니다. 자전거 자체뿐만 아니라 그와 관련된 서비스에서도 마찬가지입니다. 
                        윌프레드가 운영하는 윌프레드 바이크는 사이클링 커뮤니티에서 신뢰의 상징으로 자리 잡았습니다. 
                        전문 사이클리스트, 출퇴근용 이용자, 또는 여가용으로 자전거를 즐기는 분들 모두에게 윌프레드 바이크는 최고의 목적지입니다. 
                        고객 서비스와 세심한 배려로 잘 알려진 이 회사는 고객 만족을 모든 여정의 중심에 둡니다. 
                        적합한 자전거를 선택하는 것부터 최상의 상태로 유지하는 데까지, 품질과 투명성에 대한 헌신이 돋보입니다. 
                        특히 자전거를 일상적인 이동 수단이나 대회 출전용으로 사용하는 고객에게 신뢰할 수 있는 자전거는 필수이며, 
                        윌프레드 바이크는 고객이 만족할 수 있도록 최선을 다합니다.
                    </p>
                    <br><br>
                    <h3>종합 자전거 수리 서비스</h3>
                    <p align="justify">
                        윌프레드 바이크의 주요 특징 중 하나는 뛰어난 수리 서비스입니다. 
                        자전거는 사용하면서 마모되기 마련이며, 윌프레드 바이크는 모든 고객에게 전문 수리 솔루션을 제공합니다. 
                        숙련된 기술자 팀은 기본 정비부터 복잡한 수리까지 모두 처리할 수 있습니다. 
                        펑크 수리, 기어 조정, 체인 교체, 브레이크 문제 해결 등 다양한 문제에 빠르고 신뢰할 수 있는 서비스를 제공합니다. 
                        첨단 장비를 갖춘 워크숍에서 정밀한 수리를 보장하며, 항상 고품질의 부품만을 사용합니다. 
                        고객이 저급 부품으로 인해 성능에 문제가 생기지 않도록 철저히 관리합니다. 
                        또한, 윌프레드 바이크는 수리 과정, 비용, 예상 소요 시간 등을 고객에게 투명하게 공유하여 신뢰를 형성합니다.
                    </p>
                    <br><br>
                    <h3>다양한 자전거 판매</h3>
                    <p align="justify">
                        윌프레드 바이크는 단순한 수리점이 아닙니다. 자전거 애호가들이 꿈꾸는 자전거를 찾을 수 있는 공간이기도 합니다. 
                        험한 산길을 위한 MTB, 속도를 위한 로드바이크, 다용도 하이브리드 자전거까지 모두 갖추고 있으며, 
                        세계적인 브랜드의 다양한 자전거를 연령, 선호도, 예산에 맞춰 제공합니다. 
                        고객의 라이딩 습관과 요구에 맞는 자전거를 추천하기 위해 전문 상담을 제공하며, 
                        판매 전 모든 자전거는 철저한 검사와 테스트를 거쳐 안전성과 성능을 확인합니다. 
                        선택에 어려움이 있는 고객에게는 경험 많은 직원이 친절하게 도와줍니다. 
                        또한 윌프레드 바이크는 할부 및 중고 자전거 교환 옵션도 제공하여 부담 없이 구매할 수 있도록 돕습니다.
                    </p>
                    <br><br>
                    <h1>전 세계 수입 서비스 및 광범위한 네트워크</h1>
                    <p align="justify">
                        윌프레드 바이크의 가장 큰 강점 중 하나는 전 세계
