{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">카테고리</h1>
      <p class="lead fw-normal text-white-50 mb-0">제품을 보려면 카테고리를 선택하세요...</p>
    </div>
  </div>
</header>
<br><br>

<div class="card" style="width: 18rem;">
  <img src="{% static 'images/wilfred.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">윌프레드 보두엔 (WILFRED BOUDEUWEN)</h5>
    <p class="card-text">전 세계 윌프레드 바이크 조직의 최고경영자(CEO)...</p>
    <a href="https://wa.me/+2347068848255" class="btn btn-primary">문의하기</a>
  </div>
</div>
<br><br>

<div class="card" style="width: 18rem;">
  <img src="{% static 'images/mecky.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">메키 보스 (MECKY BOSS)</h5>
    <p class="card-text">전 세계 윌프레드 바이크 조직의 마케터...</p>
    <a href="https://wa.me/+2347068848255" class="btn btn-primary">문의하기</a>
  </div>
</div>
<br><br>

<div class="card" style="width: 18rem;">
  <img src="{% static 'images/tordi.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">토르디 프라이데이 (TORDI FRIDAY)</h5>
    <p class="card-text">윌프레드 바이크 웹사이트 및 전자상거래 앱 개발자입니다.</p>
    <a href="https://wa.me/+2347068848255" class="btn btn-primary">문의하기</a>
  </div>
</div>
<br><br>

{% endblock %}
