



<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!"><strong>Fan Card Hub</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">search</a></li>
                    
                    {% if user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Orders</a>
                        <!-- This content will only be visible to superusers (admins) -->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'shipped_dash' %}">Shipped Orders</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'not_shipped_dash' %}">Not Shipped Orders</a></li>
                                <li><hr class="dropdown-divider" /></li>
                            </ul>
                        </li>
                    <li class="nav-item dropdown">
                    {% endif %}
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'update_user' %}">User Profile</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'update_info' %}">User info</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'founders' %}">Admins</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'usage' %}">User info</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Category</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'category_summary' %}">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Keanu-Reeves' %}">keanue Reeves</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Tom-Holland' %}">Tom Holland</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Zendaya' %}">Zendaya</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Timothée-Chalamet' %}">Timothée Chalamet</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Taylor-Swift' %}">Taylor Swift</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Beyoncé' %}">Beyoncé</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Drake' %}">Drake</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Bad-Bunny' %}">Bad Bunny</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Billie-Eilish' %}">Billie Eilish</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Cristiano-Ronaldo' %}">Cristiano Ronaldo</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Lionel-Messi' %}">Lionel Messi</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'LeBron-James' %}">LeBron James</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Kylian-Mbappé' %}">Kylian Mbappé</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Serena-Williams' %}">Serena Williams</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Elon-Musk' %}">Elon Musk</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Kim-Kardashian' %}">Kim Kardashian</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Rihanna' %}">Rihanna</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Kylie-Jenner' %}">Kylie Jenner</a></li>
                        
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <a href="{% url 'cart_summary' %}" class="btn btn-outline-dark">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span id="cart_quantity" class="badge bg-dark text-white ms-1 rounded-pill">{{ cart|length }}</span>
                </a>
            </form>
        </div>
    </div>
</nav>
